<%= form_for @combi do |f| %>

		<div class="row">
			<div class="col-md-6">
				<%= f.label :patente %>
  				<%= f.text_field :patente, required: true, class: 'form-control', label: 'Patente', placeholder: 'Ingrese el numero de Patente' %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label :asientos %>
  				<%= f.number_field :asientos, required: true, class: 'form-control', label: 'Cantidad de asientos', placeholder: 'Ingrese el numero de asientos' %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label :modelo %>
  				<%= f.text_field :modelo, required: true, class: 'form-control', label: 'Modelo', placeholder: 'Ingrese el modelo de la Combi' %>
  			</div>
  		</div>

      <br> <br>
  		<%= f.submit "Guardar", class: 'btn btn-primary' %>
  	</div>
<% end %>