<% if @combi.errors.any? %>
	<h3> No se pudo guardar la combi: </h3>
	<ul>
		<% @combi.errors.messages.each do |msg| %>
			<li> <%= msg[1][0] %> </li>
		<% end %>
	</ul>
<% end %>


<%= form_for @combi do |f| %>

		<div class="row">
			<div class="col-md-6">
				<%= f.label :patente %>
  				<%= f.text_field :patente, required: true, class: 'form-control', label: 'Patente', placeholder: 'Ingrese el numero de patente' %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label :asientos %>
  				<%= f.number_field :asientos, required: true, class: 'form-control', label: 'Cantidad de asientos', placeholder: 'Ingrese el numero de asientos' %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label :modelo %>
  				<%= f.text_field :modelo, required: true, class: 'form-control', label: 'Modelo', placeholder: 'Ingrese el modelo de la Combi' %>
  			</div>
  		</div>

      <br> <br>
  		<%= f.submit "Guardar", class: 'btn btn-info btn-sm' %>
      <%= link_to "Cancelar", combis_path, class: 'btn btn-info btn-sm' %>
  	</div>
<% end %>