<% if usuario_signed_in? and current_usuario.rol == "admin" or "chofer" %>

	<h1> Listado de Combis </h1>

	<% if @combis.size != 0 %>

		<table class="table">

			<tr>
				<th> Modelo </th>
				<th> Patente </th>
				<th> Asientos </th>
				<th> Viajes Realizados </th>
				<th> Acciones </th>
			</tr>

			<% @combis.each do |combi| %>
				<tr>
					<td> <%= combi.modelo %> </td>
					<td> <%= combi.patente %> </td>
					<td> <%= combi.asientos %> </td>
					<td> <%= combi.cant_viajes %> </td>
					<td>
						<%= link_to "Ver", combi_path(combi), class: 'btn btn-info btn-sm' %>
						<% if current_usuario.rol == "admin" %>
							<%= link_to "Editar", edit_combi_path(combi), class: 'btn btn-info btn-sm' %>
							<%= link_to "Eliminar", combi, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "¿Está seguro?"} %>
						<% end %>
					</td>
				</tr>
			<% end %>

		</table>

	<% else %>
		<h6> No hay combis cargadas en el sistema </h6>
	<%end%>

	<% if current_usuario.rol == "admin" %>
		<%= link_to "Añadir nueva combi", new_combi_path, class: 'btn btn-info btn-sm' %> </br>
	<% end %>

<% else %>
	<h3> <i> Usted no tiene permiso para ver esta página. </i> </h3>
<% end %>

<br>
<%= link_to "Regresar", root_path, class: 'btn btn-info btn-sm' %>