<% if usuario_signed_in? and current_usuario.rol == "admin" or "chofer" %>
  <h1> <%= @combi.modelo %> <%= @combi.patente %></h1>
  <p> Numero de asientos: <%= @combi.asientos %> </p>
  <p> Cantidad de viajes realizados: <%= @combi.cant_viajes %> </p>
  <%= link_to "Volver", combis_path, class: 'btn btn-info btn-sm' %>
<% else %>
	<h3> <i> Usted no tiene permiso para ver esta página. </i> </h3>
	<%= link_to "Regresar a la página principal", root_path, class: 'btn btn-info btn-sm' %>
<% end %>