<h1> Combi-19 </h1>

<ul>

<li> <%= link_to("Iniciar Sesion", new_usuario_session_path) %> </li>
<li> <%= link_to("Cerrar Sesion", destroy_usuario_session_path, :method => :delete) %> </li>
<li> <%= link_to("Editar mi cuenta", edit_usuario_registration_path) %> </li>
<li> <%= link_to("Registrarse", new_usuario_registration_path) %> </li>

<li> <%= link_to("Ver combis", controller: "combis", action: "index") %> </li>
<li> <%= link_to("Ver ciudades", controller: "ciudad", action: "index") %> </li>

</ul>