<% if @ruta.errors.any? %>
	<h3> No se pudo guardar la ruta: </h3>
	<ul>
		<% @ruta.errors.messages.each do |msg| %>
			<li> <%= msg[1][0] %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for @ruta do |f| %>

  <div class="field">
    <%= f.label "Origen" %>
    <%= f.collection_select(:ciudadOrigen, @ciudades, :id, :nombre) %>																				
  </div>

  <div class="field">
    <%= f.label "Destino" %>
    <%= f.collection_select(:ciudadDestino, @ciudades, :id, :nombre) %>
  </div>

  <br>
  <h5> Adicionales </h5>
  <div class="row">
    <div class="col-md-4">  
      <%= f.collection_check_boxes(:adicional_ids, @adicionales[0, @adicionales.length / 2 + 1], :id, :nombre) do |b| %>
        <li>
          <%= b.check_box %>
          <%= b.label + " ($" + b.object.precio.to_s + ")" %>
        </li>
      <% end %>
    </div>

    <div class="col-md-4">  
      <%= f.collection_check_boxes(:adicional_ids, @adicionales[@adicionales.length / 2 + 1, @adicionales.length], :id, :nombre) do |b| %>
        <li>
          <%= b.check_box %>
          <%= b.label + " ($" + b.object.precio.to_s + ")" %>
        </li>
      <% end %>
    </div>
  </div>

  <br> <br>

  <%= f.submit "Guardar", class: 'btn btn-info btn-sm' %>
  <%= link_to "Cancelar", rutas_path, class: 'btn btn-info btn-sm' %>
  
<% end %>