<% if usuario_signed_in? and current_usuario.rol == "admin" %>


<h1> Listado de rutas </h1>

<% if @rutas.size == 0 %>
	<p> No hay rutas cargadas en el sistema </p>

<% else #Si no hay rutas no muestro la tabla %>
<table>
	<tr>
		<th> Nombre </th>
		<th> Origen </th>
		<th> Destino </th>
		<th> Acciones </th>
	</tr>

	<% @rutas.each do |ruta| %>
	<tr>
		<td><%= ruta.nombre %></td>
		<td><%= ruta.getCiudadOrigen %></td>
		<td><%= ruta.getCiudadDestino %></td>
		<td>
			<%= link_to "Ver", ruta_path(ruta) %>
			<%= link_to "Editar", edit_ruta_path(ruta) %>
			<%= link_to "Eliminar", ruta, method: :delete %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>

<% else %>

<h3> <i> Usted no tiene permiso para ver esta página. </i> </h3>

<% end %>

<br> <br>

<%= link_to "Regresar", root_path %>