<%= form_for @viaje do |f| %>

  <div class="field">
    <%= f.label "Ruta" %>
    <%= f.collection_select(:ruta_id, @rutas, :id, :nombre) %>
  </div>

  <div class="field">
    <%= f.label "Combi" %>
    <%= f.collection_select(:combi_id, @combis, :id, :patente) %>
  </div>

  <div class="field">
    <%= f.label "Chofer" %>
    <%= f.collection_select(:chofer_id, @choferes, :id, :chofer) %>
  </div>

  <div class="field">
    <%= f.label "Precio" %>
    <%= f.number_field :precio, required: true, min: 0, step: 0.1, placeholder: "Ingrese el precio" %>
  </div>

  <div class="field">
    <%= f.label "Fecha" %>
    <%= f.date_field(:fecha, required: true, min: Date.today) %>
  </div>

  <br> <br>                                       
  <%= f.submit "Guardar" %>
<% end %>

  <!-- PREVISUALIZO ORIGEN Y DESTINO DE LA RUTA -->
  <!-- p> Origen:  < %= #ruta.getCiudadOrigen %> - Destino: < %= #ruta.getCiudadDestino %> </p -->