<% if @viaje.errors.any? %>
	<h3> No se pudo guardar el viaje: </h3>
	<ul>
		<% @viaje.errors.messages.each do |msg| %>
			<li> <%= msg[1][0] %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for @viaje do |f| %>

  <div class="field">
    <%= f.label "Ruta" %>
    <%= f.collection_select(:ruta_id, @rutas, :id, :nombre) %>
  </div>

  <div class="field">
    <%= f.label "Combi" %>
    <%= f.collection_select(:combi_id, @combis, :id, :patente) %>
  </div>

  <div class="field">
    <%= f.label "Chofer" %>
    <%= f.collection_select(:chofer_id, @choferes, :id, :nombre) %>
  </div>

  <div class="field">
    <%= f.label "Precio" %>
    <%= f.number_field :precio, required: true, min: 0, step: 0.1, placeholder: "Ingrese el precio" %>
  </div>

  <div class="field">
    <%= f.label "Salida" %>

    <%= f.datetime_select :fecha_hora, required: true, minute_step: 5, start_year: Time.now.year %>
    <!-- COMPROBAR QUE NO CREE UN VIAJE EL MISMO DIA EN UNA HORA PASADA -->
  </div>

  <!-- SOLO PERMITO REPETIR VIAJES EN EL NEW, NO EN EDIT -->
  <!-- < % if current_page?(:controller => 'viajes', :action => 'new') %> -->
    <div class="field">
      <%= f.label "Repetir cada" %>

      <%= select_tag "repetir_dias", options_for_select(1..31), { prompt: "Dias"} %>
      <%#= f.select (:repetir_dias, options_for_select(1..31), :prompt => "Dias"}) %>
      <%= select_tag "repetir_meses", options_for_select(1..12), { prompt: "Meses"} %>

      <%= f.label "—" %>
      <%= select_tag "repetir_veces", options_for_select(1..20), { prompt: "N veces"} %>
      <!-- VER SI ESCRIBE LOS PARAMETROS REPETIR_DIAS/MESES/VECES-->
    </div>
  <!-- < % end %> -->

  <br> <br>                                       
  <%= f.submit "Guardar", class: 'btn btn-info btn-sm' %>
  <%= link_to "Regresar", viajes_path, class: 'btn btn-info btn-sm' %>
<% end %>