<div class="conatiner">
	<div class="row">
		<h1> <%= @viaje.ruta.nombre %> , <%= @viaje.fecha_hora.strftime("%d %b %Y - %H:%M") %> </h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4> Costo del pasaje: $<%=@viaje.precio%> </h4>
			<%= form_tag(comprar_viaje_path, method: "get") do %>
				<%= label_tag(:tarjeta,"Seleccione una tarjeta") %>
				<%= select_tag(:tarjeta, options_for_select(current_usuario.tarjetas.map { |t| [t.numero, t.id] }))%>
				<%= link_to "Añadir Tarjeta" , new_tarjeta_path , class: 'btn btn-info btn-sm' %>
				<br>
				<%= label_tag(:clave,"Ingrese la calve de la tarjeta") %>
				<%= text_field_tag(:clave)%>
				<br>
				<% if @viaje.ruta.adicionales.size != 0 %>
					<%= label_tag(:adicionales,"Seleccione sus adicionales:") %>
					<br>
					<%= collection_check_boxes(:adicionales, :ids, @viaje.ruta.adicionales, :id, :nombre , {multiple: true}) do |b| %>
							<%= b.check_box %>
				            <%= b.label + " (+$" + b.object.precio.to_s + ")" %>
				            <br>
				    <%end %>
			    <% end %>
				<%= submit_tag("Comprar", data: {confirm: "¿Está seguro? "}, class: 'btn btn-info btn-sm') %>
			<% end %>
		</div>
	</div>
</div>