<!-- h1>Viajes#index</h1 -->
<h1> Listado de viajes </h1>

<% if @viajes.size == 0 %>
	<p> No hay viajes cargados en el sistema </p>

<% else #Si no hay viajes no muestro la tabla %>
	<table class="table">
		<tr>
			<th> Ruta </th>
			<th> Salida </th>
			<th> Llegada </th>
			<th> Precio </th>
			<th> Acciones </th>
		</tr>

		<% @viajes.each do |viaje| %>
		<tr>
			<td> <%= viaje.ruta.nombre %> </td>
			<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
			<td> <%= viaje.fecha_hora_llegada.strftime("%d/%b/%Y - %H:%M") %> </td>
			<td> $<%= viaje.precio %> </td>
			<td>
			<% if usuario_signed_in? %>
				<% if current_usuario.rol == "chofer" or current_usuario.rol == "admin" %>
					<%= link_to "Ver", viaje_path(viaje), class: 'btn btn-info btn-sm' %>
					<% if current_usuario.rol == "admin" %>
						<%= link_to "Editar", edit_viaje_path(viaje), class: 'btn btn-info btn-sm' %>
						<%= link_to "Eliminar", viaje, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "¿Está seguro?"} %>
					<% end %>
				<% end %>
			<% end %>
			<% if current_usuario.rol == "cliente" %>
				<% if viaje.pasajes.where(usuario_id: current_usuario.id).size == 0 %>
					<% if viaje.usuarios.size <= viaje.combi.asientos %>
						<%= link_to "Comprar", comprar_viaje_path(viaje),class: 'btn btn-info btn-sm' %>
					<% else %>
						Lleno
					<% end %>
				<% else%>
					Comprado
				<% end %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>

<br> <br>

<% if usuario_signed_in? and current_usuario.rol == "admin"%>
	<%= link_to "Añadir nuevo viaje", new_viaje_path, class: 'btn btn-info btn-sm' %> </br>
<%end%>
<br>
<%= link_to "Regresar", root_path, class: 'btn btn-info btn-sm' %>