<!-- h1>Viajes#index</h1 -->
<h1> Listado de viajes </h1>

<% if @viajes.empty? %>
	<p> No hay viajes cargados en el sistema </p>
<% else #Si no hay viajes no muestro la tabla %>

	<%= form_with(url: viajes_path, method: "get", local: true) do %>
		<div class="flex-container">
			<!-- PROBADO QUE FUNCIONA BEGIN -->
			<div class="flex-column-left">

			  	<div class="inline"> <!-- No implementado, deberian estar en la misma linea -->
						<div class="field">
				    	<%= label_tag "Origen " %>
				    	<%= select_tag(:ciudadOrigen, options_for_select(@ciudades.map { |c| [c.nombre, c.id] }.sort, @ciudadOrigen), {:prompt => "---"}) %>
				    	<!--%= collection_select(:search, :ciudadOrigen, @ciudades, :id, :nombre, { prompt: "Todos" }) %-->
					  </div>

					  <div class="field">
				    	<%= label_tag "Destino" %>
				    	<%= select_tag(:ciudadDestino, options_for_select(@ciudades.map { |c| [c.nombre, c.id] }, @ciudadDestino), {:prompt => "---"}) %>
				    	<!--%= collection_select(:search, :ciudadDestino, @ciudades, :id, :nombre, { prompt: "Todos" }) %-->
					  </div>
					</div>

			</div>
			<!-- PROBADO QUE FUNCIONA END -->

			<!-- DEBERIA FUNCIONAR CUANDO ESCRIBAN FECHA_HORA EN VIAJE -->
			<div class="flex-column-right">
					<div class="field">
						<%= label_tag "Buscar por fecha" %>
						<%= check_box_tag :fecha_checked %>
					</div>

					<div class="field">
				    <%#USUARIOS = date_field :fecha_viaje, @fecha_viaje, min: Date.today %>
				    <%= date_field :fecha_viaje, @fecha_viaje %>
				    <%#= f.datetime_select_tag :fecha_viaje, @fecha_viaje, :prompt => { :day => "---", :month => "---", :year => "--- " }, start_year: Time.now.year %>
				  </div>

				  <br>
					<%= submit_tag("Buscar") %>
			</div>
		</div>

		<% if usuario_signed_in? and (current_usuario.rol == "admin" or current_usuario.rol == "chofer") %>
			<div class="flex-container">
				<div class="flex-column-left">
					<div class="field">
						<%= label_tag "Buscar por estado" %>
						<%= check_box_tag :estado_checked %>
					</div>

					<div class="field">
						<%# Viaje.estados.keys.each do |estado| %>
							<%#= label_tag estado.to_sym %>
							<!-- to_sym: Lo convierte a :estado -->
							<%#= radio_button_tag :estado, @estado %>
						<%# end %>
						<%= label_tag "Programado" %>
						<%= radio_button_tag :estado, "programado", @estado %>
						<%= label_tag "En curso" %>
						<%= radio_button_tag :estado, "en curso", @estado %>
						<%= label_tag "Finalizado" %>
						<%= radio_button_tag :estado, "finalizado", @estado %>
					</div>
				</div>

				<div class="flex-column-right">
					<div class="field">
						<%= label_tag "Buscar por disponibilidad" %>
						<%= check_box_tag :disponibilidad_checked %>
					</div>

					<div class="field">
						<%= label_tag "Disponible" %>
						<%= radio_button_tag :disponibilidad, "disponible", @disponibilidad %>
						<%= label_tag "Completo" %>
						<%= radio_button_tag :disponibilidad, "completo", @disponibilidad %>
					</div>
				</div>
			</div>
	 	<% end %>


	<% end %>

	<table class="table">
		<tr>
			<th> Ruta </th>
			<th> Salida </th>
			<th> Llegada </th>
			<th> Precio </th>
			<th> Acciones </th>
		</tr>

		<% @viajes.each do |viaje| %>
		<tr>
			<td> <%= viaje.ruta.nombre %> </td>
			<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
			<td> <%= viaje.fecha_hora_llegada.strftime("%d/%b/%Y - %H:%M") %> </td>
			<td> $<%= viaje.precio %> </td>
			<td>

			<% if usuario_signed_in? %>
				<% if current_usuario.rol == "chofer" or current_usuario.rol == "admin" %>
					<%= link_to "Detalles", viaje_path(viaje), class: 'btn btn-info btn-sm' %>
					<% if current_usuario.rol == "admin" %>
						<%= link_to "Editar", edit_viaje_path(viaje), class: 'btn btn-info btn-sm' %>
						<%= link_to "Eliminar", viaje, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "¿Está seguro?"} %>
					<% end %>
				<% end %>
			<% end %>
        
			<% if current_usuario.rol == "cliente" %>
				<% if viaje.pasajes.where(usuario_id: current_usuario.id).size == 0 %>
					<% if viaje.usuarios.size <= viaje.combi.asientos %>
						<%= link_to "Comprar", comprar_viaje_path(viaje),class: 'btn btn-info btn-sm' %>
					<% else %>
						Lleno
					<% end %>
				<% else%>
					Comprado
        <% end %>
      <% end %>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>

<br> <br>

<% if usuario_signed_in? and current_usuario.rol == "admin"%>
	<%= link_to "Añadir nuevo viaje", new_viaje_path, class: 'btn btn-info btn-sm' %> </br>
<%end%>
<br>
<%= link_to "Regresar", root_path, class: 'btn btn-info btn-sm' %>