<!-- h1>Viajes#index</h1 -->
<h1> Listado de viajes </h1>

<% if @viajes.size == 0 %>
	<p> No hay viajes cargados en el sistema </p>
<% else #Si no hay viajes no muestro la tabla %>

	<div class="flex-container">
		<div class="flex-column-left">
			<%= form_with(url: viajes_path, method: "get", local: true) do %>

		  	<div class="inline"> <!-- No implementado, deberian estar en la misma linea -->
					<div class="field">
			    	Origen &nbsp
			    	<%= select_tag(:ciudadOrigen, options_for_select(@ciudades.map { |c| [c.nombre, c.id] }.sort, @ciudadOrigen), {:prompt => "---"}) %>
			    	<!--%= collection_select(:search, :ciudadOrigen, @ciudades, :id, :nombre, { prompt: "Todos" }) %-->
				  </div>

				  <div class="field">
			    	Destino
			    	<!--%= collection_select(:search, :ciudadDestino, @ciudades, :id, :nombre, { prompt: "Todos" }) %-->
			    	<%= select_tag(:ciudadDestino, options_for_select(@ciudades.map { |c| [c.nombre, c.id] }, @ciudadDestino), {:prompt => "---"}) %>
				  </div>
				</div>

				<%= submit_tag("Buscar") %>

		 	<% end %>
		</div>

		<div class="flex-column-right">
			<%#= date_field() %>
		</div>
	</div>



	<!-- %= link_to "Buscar", viajes_path(:ciudadOrigen, :ciudadDestino), class: 'btn btn-info btn-sm' % -->

	<table class="table">
		<tr>
			<th> Ruta </th>
			<th> Fecha </th>
			<th> Precio </th>
			<th> Acciones </th>
		</tr>

		<% @viajes.each do |viaje| %>
		<tr>
			<td> <%= viaje.ruta.nombre %> </td>
			<td> <%= viaje.fecha_hora %> </td>
			<td> <%= viaje.precio %> </td>
			<% if usuario_signed_in? %>
				<% if current_usuario.rol == "chofer" or current_usuario.rol == "admin" %>
				<td>
					<%= link_to "Ver", viaje_path(viaje), class: 'btn btn-info btn-sm' %>
					<%= link_to "Ver combi", combi_path(viaje.combi), class: 'btn btn-info btn-sm' %>
					<%= link_to "Ver ruta", ruta_path(viaje.ruta), class: 'btn btn-info btn-sm' %>
					<%= link_to "Ver chofer", usuario_path(viaje.chofer_id), class: 'btn btn-info btn-sm' %>
					<% if current_usuario.rol == "admin" %>
						<%= link_to "Editar", edit_viaje_path(viaje), class: 'btn btn-info btn-sm' %>
						<%= link_to "Eliminar", viaje, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "¿Está seguro?"} %>
					<% end %>
				</td>
					<% end %>
			<% end %>
		</tr>
		<% end %>
	</table>
<% end %>

<br> <br>

<% if usuario_signed_in? and current_usuario.rol == "admin"%>
	<%= link_to "Añadir nuevo viaje", new_viaje_path, class: 'btn btn-info btn-sm' %> </br>
<%end%>
<br>
<%= link_to "Regresar", root_path, class: 'btn btn-info btn-sm' %>