<!-- h1>Viajes#show</h1 -->
<div class="container">
	<div class= "row">
		<h1><%= @viaje.ruta.nombre + " - " + @viaje.fecha_hora.strftime("%d %b %Y") %></h1>
	</div>
	<div class= "row">
		<div class= "col-md-3">
			<font size=4>
			<ul>
				<li> Origen: </li>
				<li> Destino: </li>
				<li> Precio: </li>
				<li> Pasajes comprados:</li>
				<li> Hora de salida: </li>
				<li> Chofer: </li>
				<li> Combi: </li>
				<li> Ruta: </li>
        <li> Estado: </li>
        <li> Disponibilidad: </li>
			</ul>
		<% if @asignado %>
			<% if @viaje.programado? %>
				<div class="actions">
					<%= link_to("Comenzar viaje", cambiar_estado_path(@viaje), method: :post, class: 'btn btn-info btn-sm') %>
				</div>
			<% elsif @viaje.en_curso? %>
				<div class="actions">
					<%= link_to("Finalizar viaje", cambiar_estado_path(@viaje), method: :post, class: 'btn btn-info btn-sm') %>
				</div>
			<% end %>
		<% end %>
		</div>
		<div class="col">
			<ul class="list-unstyled">
				<li>  <%= @viaje.ruta.getCiudadOrigen %> </li>
				<li>  <%= @viaje.ruta.getCiudadDestino %> </li>
				<li>  $<%= @viaje.precio %> </li>
				<li>  <%= @viaje.usuarios.size - 1 %> /<%= @viaje.combi.asientos %> </li>
				<li>  <%= @viaje.fecha_hora.strftime("%H:%M") %> </li>
				<li>  <%= link_to @chofer.nombre + " " + @chofer.apellido , usuario_path(@viaje.chofer_id) %> </li>
				<li>  <%= link_to @viaje.combi.modelo, combi_path(@viaje.combi) %> </li>
				<li> <%= link_to @viaje.ruta.nombre , ruta_path(@viaje.ruta) %> </li>
        <li> <%= @viaje.estado %> </li>
        <li> <%= @viaje.disponibilidad %> </li>
			</ul>
		</div>
	</div>
	<div class= "row">
		<h2> Pasajeros </h2>
		<table class= "table">
			<tr>
				<th> Nombre </th>
				<th> DNI </th>
				<th> e-mail </th>
				<th> Adicionales </th>
			</tr>
			<% @viaje.usuarios.all.each do |usuario| %>
				<% if usuario.rol != "chofer" %>
					<tr>
						<td> <%= usuario.apellido %>, <%= usuario.nombre %> </td>
						<td> <%= usuario.dni %> </td>
						<td> <%= usuario.email %> </td>
						<td> 
							<% @viaje.pasajes.find_by(usuario_id: usuario.id).adicionales.each do |a|%>
								<%= a.nombre %>,
							<% end %>
						</td>
					</tr>
				<% end %>
			<%end%>
		</table>
	</div>	


<%= link_to "Regresar", viajes_path, class: 'btn btn-info btn-sm' %>
</div>
