<!-- h1>Viajes#show</h1 -->
<div class="container">
	<div class= "row">
		<h1><%= @viaje.ruta.nombre + " - " + @viaje.fecha_hora.strftime("%d %b %Y") %></h1>
	</div>
	<div class= "row">
		<div class= "col-md-3">
			<font size=4>
			<ul>
				<li> Origen: </li>
				<li> Destino: </li>
				<li> Precio: </li>
				<li> Asientos: </li>
				<li> Hora de salida: </li>
				<li> Chofer: </li>
				<li> Combi: </li>
				<li> Ruta: </li>
			</ul>
		</div>
		<div class="col">
			<ul class="list-unstyled">
				<li>  <%= @viaje.ruta.getCiudadOrigen %> </li>
				<li>  <%= @viaje.ruta.getCiudadDestino %> </li>
				<li>  $<%= @viaje.precio %> </li>
				<li>  <%= @viaje.combi.asientos %> </li>
				<li>  <%= @viaje.fecha_hora.strftime("%H:%M") %> </li>
				<li>  <%= link_to @chofer.nombre + " " + @chofer.apellido , usuario_path(@viaje.chofer_id) %> </li>
				<li>  <%= link_to @viaje.combi.modelo, combi_path(@viaje.combi) %> </li>
				<li> <%= link_to @viaje.ruta.nombre , ruta_path(@viaje.ruta) %> </li>
			</ul>
		</div>
	</div>	

<%= link_to "Regresar", viajes_path, class: 'btn btn-info btn-sm' %>
</div>