<h1> <%= @usuario.nombre %> <%= @usuario.apellido %></h1>

<ul>

	<li> DNI: <%= @usuario.dni %> </li>

	<li> Fecha de nacimiento: <%= @usuario.fecha_nacimiento %> </li>

	<li> Rol: <%= @usuario.rol %> </li>

	<li> Correo electrónico: <%= @usuario.email %> </li>

	<br>
	<% if @usuario.rol == "cliente" %>
		<li> Formulario covid....</li>
	<% elsif @usuario.rol == "chofer" %>
		<% if not @usuario.viajes.empty? %>
			<h4> Viajes asignados </h4>
			<table class="table table-sm">
				<tr>
					<th> Ruta </th>
					<th> Fecha </th>
					<th> Acciones </th>
				</tr>
				<% @usuario.viajes.each do |viaje| %>
					<tr>
						<td> <%= viaje.ruta.nombre %> </td>
						<td> <%= viaje.fecha_hora %> - <%= viaje.fecha_hora_llegada %> </td>
						<td> <%= link_to("Ver", viaje_path(viaje), class: 'btn btn-info btn-sm')  %>
					</tr>
				<% end %>
			</table>
		<% else %>
			<i> El chofer no tiene viajes asignados. </i>
		<% end %>
	<% end %>

</ul>

<%= link_to "Volver", :back , class: 'btn btn-info btn-sm' %>