<% if not usuario_signed_in? or (current_usuario.rol == "cliente" and @usuario.id != current_usuario.id) %>
	<h4> <i> Usted no tiene permiso para ver esta página. </i> </h4>
	<%= link_to "Regresar", :back , class: 'btn btn-info btn-sm' %>
<% else %>


<div class="container">
	<div class="row">
		<h1> <%= @usuario.nombre %> <%= @usuario.apellido %></h1>
	</div>
	<div class="row">
		<div class="col-md-3">
			<font size=4>
			<ul>
				<li> DNI: </li>

				<li> Fecha de nacimiento: </li>
				
				<li> Correo electrónico: </li>	
				
				<li> Rol: </li>
			</ul>
			<% if @viaje_en_curso %>
				<b> Actualmente en viaje: <%= link_to @viaje_en_curso.ruta.nombre, viaje_path(@viaje_en_curso) %> </b>
			<% end %>
		</div>
		<div class="col">
			<ul class="list-unstyled">
				<li> <%= @usuario.dni %> </li>

				<li> <%= @usuario.fecha_nacimiento.strftime("%d %b %Y") %> </li>
				
				<li> <% if !@usuario.borrado %>
						<%= @usuario.email %> 
					<% else %>
						El usuario elimino su cuenta
					<% end %>
				</li>
				
				<li> <%= @usuario.rol %> </li>
			</ul>
		</div>
	</div>

	<font size=3>

	<% if @usuario.rol == "cliente" %>
		<div class="row">
			<div class="col">
			<h5> Declaración jurada de salud </h5>
			<% if @usuario.id == current_usuario.id %>
				<% if @usuario.formulario_covid != nil%>
					<%= link_to("Actualizar formulario", edit_formulario_covid_path(current_usuario.formulario_covid.id), class: "btn btn-sm btn-info") %>
				<% else %>
					<%= link_to("Completar formulario", new_formulario_covid_path, class: "btn btn-sm btn-info") %>
				<% end %>
			<% else %>
				<% if @usuario.formulario_covid != nil %>
					<%= link_to("Ver declaración jurada", formulario_covid_path(@usuario.formulario_covid.id), class: "btn btn-sm btn-info") %>
				<% else %>
					<i> El usuario no ha cargado su declaración jurada de salud. </i>	
				<% end %>
			<% end %>
			</div>
		</div>
	<% end %>
	
	<% if @usuario.rol == "chofer" or @usuario.rol == "cliente" %>

		<div class="card">
			<div class="card-header" id="headingViajesFin">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseViajesFin">
					Historial de viajes
				</button>
			</div>
			<div id="collapseViajesFin" class="collapse" aria-labelledby="headingViajesFin">
				<div class="card-body">
					<% if not ((@viajes_realizados.empty?) and (@viajes_no_realizados.empty?) and (@viajes_cancelados.empty?)) %>
						<% if not @viajes_realizados.empty? %>
							<h5> Viajes realizados </h5>
							<table class="table table-sm">
								<tr>
									<th> Ruta </th>
									<th> Salida </th>
									<th> Llegada </th>
									<th> Acciones </th>
								</tr>
								<% @viajes_realizados.each do |viaje| %>
									<tr>
										<td> <%= viaje.ruta.nombre %> </td>
										<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
										<td> <%= viaje.fecha_hora_llegada.strftime("%d/%b/%Y - %H:%M") %>
										<td> <%= link_to("Ver", viaje_path(viaje), class: 'btn btn-info btn-sm')  %>
									</tr>
								<% end %>
							</table>
						<% end %>
						
						<% if not @viajes_cancelados.empty? %>
							<h5> Viajes cancelados </h5>
							<table class="table table-sm">
								<tr>
									<th> Ruta </th>
									<th> Salida </th>
									<th> Llegada </th>
									<th> Acciones </th>
								</tr>
								<% @viajes_cancelados.each do |viaje| %>
									<tr>
										<td> <%= viaje.ruta.nombre %> </td>
										<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
										<td> <%= viaje.fecha_hora_llegada.strftime("%d/%b/%Y - %H:%M") %>
										<td> <%= link_to("Ver", viaje_path(viaje), class: 'btn btn-info btn-sm')  %>
									</tr>
								<% end %>
							</table>
						<% end %>

						<% if @usuario.rol == "cliente" %>
							<% if not @viajes_no_realizados.empty? %>
								<h5> Viajes no realizados </h5>
								<table class="table table-sm">
									<tr>
										<th> Ruta </th>
										<th> Salida </th>
										<th> Llegada </th>
										<th> Motivo </th>
										<th> Acciones </th>
									</tr>
									<% @viajes_no_realizados.each do |viaje| %>
									<tr>
										<td> <%= viaje.ruta.nombre %> </td>
										<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
										<td> <%= viaje.fecha_hora_llegada.strftime("%d/%b/%Y - %H:%M") %> </td>
										<td> <%= viaje.pasajes.find_by(usuario_id: @usuario.id).getEstado %> </td>
										<td> <%= link_to("Ver", viaje_path(viaje), class: 'btn btn-info btn-sm')  %></td>
									</tr>
									<% end %>
								</table>
							<% end %>
						<% end %>

					<% else %>
						<% if current_usuario.id == @usuario.id %>
							<i> Usted no ha realizado ningún viaje. <%= link_to("Ver ofertas de viajes", viajes_path) %> </i>
						<% else %>
							<i> No hay viajes registrados. </i>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>


		<div class="card">
			<div class="card-header" id="headingViajes">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseViajes">
					Viajes pendientes
				</button>
			</div>
			<div id="collapseViajes" class="collapse" aria-labelledby="headingViajes">
				<div class="card-body">
					<% if not @viajes_pendientes.empty? %>
						<table class="table table-sm">
							<tr>
								<th> Ruta </th>
								<th> Salida </th>
								<th> Llegada </th>
								<th> Acciones </th>
							</tr>
							<% @viajes_pendientes.each do |viaje| %>
								<tr>
									<td> <%= viaje.ruta.nombre %> </td>
									<td> <%= viaje.fecha_hora.strftime("%d/%b/%Y - %H:%M") %> </td>
									<td> <%= viaje.fecha_hora_llegada.strftime("%d/%b/%Y - %H:%M") %> </td>
									<td> 
										<%= link_to("Ver", viaje_path(viaje), class: 'btn btn-info btn-sm')  %>
										<% if usuario_signed_in? and current_usuario.rol == "cliente" %>
											<% if viaje.pasajes.find_by(usuario_id: current_usuario).estado == "cancelado" %>
												<a class="btn btn-danger btn-sm disabled"> Cancelado </a>
											<% else %>
												<%= link_to("Cancelar", cancelar_pasaje_path(viaje), class: 'btn btn-danger btn-sm')  %>
											<% end %>
										<% end %>
									</td>

								</tr>
							<% end %>
						</table>
					<% else %>
						<% if current_usuario.id == @usuario.id %>
							<i> Usted no tiene ningun viaje pendiente. <%= link_to("Ver ofertas de viajes", viajes_path) %> </i>
						<% else %>
							<i> No hay viajes registrados. </i>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

	<% if @usuario.rol == "cliente" and @usuario.id == current_usuario.id %>
		<div class="card">
			<div class="card-header" id="headingTarjetas">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTarjetas"> Tarjetas </button>
			</div>
			<div id="collapseTarjetas" class="collapse" aria-labelledby="headingTarjetas">
				<div class="card-body">
					<% if @usuario.tarjetas.size == 0%>
						<i> No tiene tarjetas registradas </i>
					<% else %>
						<table class="table">
							<th>Numero</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Vencimiento</th>
							<th>Acciones</th>
							<% @usuario.tarjetas.each do |t| %>
								<tr>
									<td> <%= t.numero %> </td>
									<td> <%= t.nombre %> </td>
									<td> <%= t.apellido %> </td>
									<td> <%= t.vencimiento.strftime("%m / %Y") %> </td>
									<td> <%= link_to "Eliminar" , t, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "¿Está seguro?"} %> </td>
								</tr>
							<%end%>
						</table>
					<%end%>
				<%= link_to "Añadir Tarjeta" , new_tarjeta_path , class: 'btn btn-info btn-sm' %>
				</div>
			</div>
		</div>
	<% end %>
<br>
<%= link_to "Volver", :back , class: 'btn btn-info btn-sm' %>
</div>

<% end %>