<h2> Declaración jurada de COVID-19 </h2>

<%= form_with model: @formulario_covid do |f| %>

    <div class="field">
        <%= f.label "Tuve pérdida de olfato" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tuve pérdida de gusto" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_gusto, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_gusto, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo tos" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo dolor de garganta" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo dificultad respiratoria o falta de aire" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo dolor de cabeza" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo diarrea" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo vómitos" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo dolor muscular" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Vivo o trabajo con un caso confirmado de COVID-19" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "En los últimos 14 días, estuve en contacto con un caso confirmado de COVID-19" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo/tuve cáncer" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo diabetes" %> <br>>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <b><%= f.label "Tengo alguna enfermedad hepática" %> <br></b>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo alguna enfermedad renal" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo alguna enfermedad respiratoria" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo alguna enfermedad cardiológica" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>
    <div class="field">
        <%= f.label "Tengo alguna condición que me baja las defensas" %> <br>
        <%= f.label "Si" %> <%= f.radio_button(:perdida_olfato, true) %>
        <%= f.label "No" %> <%= f.radio_button(:perdida_olfato, false) %>
    </div>

<% end %>